# Feature Engineering

In [2]:
import pandas as pd
import numpy as np

In [3]:
mrt_coordinates_df = pd.read_csv('mrt_coordinates.csv', index_col = 0)

In [4]:
mrt_coordinates_df

             Station  latitude   longitude
0        Jurong East  1.333295  103.742154
1        Bukit Batok  1.351989  103.765416
2       Bukit Gombak  1.358730  103.751913
3      Choa Chu Kang  1.385335  103.744352
4            Yew Tee  1.397129  103.747330
..               ...       ...         ...
140     Upper Changi  1.369787  103.983271
141             Expo  1.335383  103.962375
142  Woodlands North  1.447782  103.785136
143        Woodlands  1.430788  103.762362
144  Woodlands South  1.427488  103.792730

[145 rows x 3 columns]

In [5]:
hdb_coordinates_df = pd.read_csv('hdb_coordinates.csv', index_col=0)
hdb_coordinates_df

                       address  latitude   longitude
0        406 ANG MO KIO AVE 10  1.362005  103.853880
1         108 ANG MO KIO AVE 4  1.370943  103.837975
2         602 ANG MO KIO AVE 5  1.380709  103.835368
3        465 ANG MO KIO AVE 10  1.366201  103.857201
4         601 ANG MO KIO AVE 5  1.381041  103.835132
...                        ...       ...         ...
9423       676A YISHUN RING RD  1.421452  103.843328
9424       187B BEDOK NTH ST 4  1.330499  103.939996
9425  450B BT BATOK WEST AVE 6  1.352358  103.744396
9426  451B BT BATOK WEST AVE 6  1.352484  103.743415
9427  442B BT BATOK WEST AVE 8  1.357134  103.738172

[9428 rows x 3 columns]

#### Distance from nearest MRT in km

Use geopy package to calculate distance between two places, using their respective latitude and longitude values.

In [6]:
pip install geopy

Collecting geopy
  Downloading geopy-2.3.0-py3-none-any.whl (119 kB)
Collecting geographiclib<3,>=1.52
  Downloading geographiclib-2.0-py3-none-any.whl (40 kB)
Installing collected packages: geographiclib, geopy
Successfully installed geographiclib-2.0 geopy-2.3.0
Note: you may need to restart the kernel to use updated packages.

WARNING: You are using pip version 21.2.3; however, version 23.0.1 is available.
You should consider upgrading via the 'c:\Users\raych\AppData\Local\Programs\Python\Python39\python.exe -m pip install --upgrade pip' command.

In [7]:
from geopy import distance

In [8]:
hdb_coordinates_df
mrt_coordinates_df

             Station  latitude   longitude
0        Jurong East  1.333295  103.742154
1        Bukit Batok  1.351989  103.765416
2       Bukit Gombak  1.358730  103.751913
3      Choa Chu Kang  1.385335  103.744352
4            Yew Tee  1.397129  103.747330
..               ...       ...         ...
140     Upper Changi  1.369787  103.983271
141             Expo  1.335383  103.962375
142  Woodlands North  1.447782  103.785136
143        Woodlands  1.430788  103.762362
144  Woodlands South  1.427488  103.792730

[145 rows x 3 columns]

In [81]:
mrt_coordinates_df.rename(columns = {'Station': 'Name'}, inplace=True)

In [82]:
hdb_coordinates_dict = hdb_coordinates_df.to_dict('records')
mrt_coordinates_dict = mrt_coordinates_df.to_dict('records')

In [83]:
mrt_coordinates_dict[0]

{'Name': 'Jurong East',
 'latitude': 1.33329506563598,
 'longitude': 103.742153884191}

In [84]:
# hdb is the dictionary of a hdb's specific coordinates
# places is a list of places, each place being a dictionary with its specific coordinates (mrt/mall)
def get_shortest_distance(hdb, places):
    hdb_lat_long = (hdb['latitude'], hdb['longitude'])
    shortest_distance = 100
    current_place = ""

    for place in places:
        place_lat_long = (place['latitude'], place['longitude'])
        current_distance = distance.distance(hdb_lat_long, place_lat_long).km
        if current_distance < shortest_distance:
            shortest_distance = current_distance
            current_place = place['Name']
    
    return (shortest_distance, current_place)

In [85]:
for hdb in hdb_coordinates_dict:
    shortest_distance = get_shortest_distance(hdb, mrt_coordinates_dict)
    hdb['mrt_shortest_dist'] = shortest_distance[0]
    hdb['mrt_shortest_dist_name'] = shortest_distance[1]

In [86]:
hdb_coordinates_df = pd.DataFrame(hdb_coordinates_dict)
hdb_coordinates_df

,address,latitude,longitude,mrt_shortest_dist,mall_shortest_dist,mrt_shortest_dist_name
0,406 ANG MO KIO AVE 10,1.362005,103.853880,0.957270,1.013992,Ang Mo Kio
1,108 ANG MO KIO AVE 4,1.370943,103.837975,1.288554,0.894266,Ang Mo Kio
2,602 ANG MO KIO AVE 5,1.380709,103.835368,1.056960,1.525573,Yio Chu Kang
3,465 ANG MO KIO AVE 10,1.366201,103.857201,0.932964,0.893796,Ang Mo Kio
4,601 ANG MO KIO AVE 5,1.381041,103.835132,1.079288,1.569306,Yio Chu Kang
...,...,...,...,...,...,...
9423,676A YISHUN RING RD,1.421452,103.843328,0.541079,0.443476,Yishun
9424,187B BEDOK NTH ST 4,1.330499,103.939996,0.843049,1.258851,Tanah Merah
9425,450B BT BATOK WEST AVE 6,1.352358,103.744396,1.093790,0.569993,Bukit Gombak
9426,451B BT BATOK WEST AVE 6,1.352484,103.743415,1.171116,0.676788,Bukit Gombak
9427,442B BT BATOK WEST AVE 8,1.357134,103.738172,1.539339,1.429650,Bukit Gombak

Sanity Check

Lets check the first row of hdb_coordinates_df, to see if the mrt_shortest dist is calculated correctly.

The nearest mrt to 406 Ang Mo Kio ave 10 is very clearly Ang Mo Kio Station. Lets see if the calculations match.

In [88]:
ang_mo_kio_coordinates = mrt_coordinates_df[mrt_coordinates_df['Name'] == 'Ang Mo Kio'][['latitude', 'longitude']].values[0]

In [89]:
# convert list to tuple
ang_mo_kio_coordinates = (ang_mo_kio_coordinates[0], ang_mo_kio_coordinates[1])
ang_mo_kio_coordinates

(1.36942855699191, 103.849455226442)

In [90]:
dist_from_amk = distance.distance((hdb_coordinates_dict[0]['latitude'], hdb_coordinates_dict[0]['longitude']), 
                  (ang_mo_kio_coordinates)).km
dist_from_amk

0.9572697821512559

In [91]:
hdb_coordinates_df.loc[0,'mrt_shortest_dist'] == dist_from_amk

True

#### Distance from nearest Mall in km

In [92]:
mall_coordinates_df = pd.read_csv('shopping_mall_coordinates.csv', index_col=0)
mall_coordinates_df

                               Mall  latitude   longitude
0                            100 AM  1.274683  103.843488
1                      313@Somerset  1.301014  103.838361
2                            Aperia  1.309711  103.864326
3    Balestier Hill Shopping Centre  1.325596  103.842572
4                        Bugis Cube  1.298141  103.855635
..                              ...       ...         ...
150         Gek Poh Shopping Centre  1.348744  103.697732
151                  Rochester Mall  1.305408  103.788447
152    Taman Jurong Shopping Centre  1.334845  103.720462
153                West Coast Plaza  1.303697  103.766131
154       Queensway Shopping Centre  1.287618  103.803391

[155 rows x 3 columns]

In [93]:
mall_coordinates_df.rename(columns = {'Mall': 'Name'}, inplace = True)

In [94]:
mall_coordinates_dict = mall_coordinates_df.to_dict('records')
mall_coordinates_dict

[{'Name': '100 AM',
  'latitude': 1.27468281482263,
  'longitude': 103.843488359469},
 {'Name': '313@Somerset',
  'latitude': 1.30101436404056,
  'longitude': 103.838360664485},
 {'Name': 'Aperia',
  'latitude': 1.3097112065077,
  'longitude': 103.864326436447},
 {'Name': 'Balestier Hill Shopping Centre',
  'latitude': 1.32559594839311,
  'longitude': 103.842571612968},
 {'Name': 'Bugis Cube',
  'latitude': 1.2981408343975,
  'longitude': 103.855635339249},
 {'Name': 'Bugis Junction',
  'latitude': 1.2991371723215,
  'longitude': 103.855450325604},
 {'Name': 'Bugis+',
  'latitude': 1.30095171530648,
  'longitude': 103.855172625542},
 {'Name': 'Capitol Piazza',
  'latitude': 1.29307884763132,
  'longitude': 103.851261982149},
 {'Name': 'Cathay Cineleisure Orchard',
  'latitude': 1.30152101873533,
  'longitude': 103.836429655016},
 {'Name': 'The Centrepoint',
  'latitude': 1.30145045537088,
  'longitude': 103.840034074858},
 {'Name': 'City Square Mall',
  'latitude': 1.31138865009152,
  'longitude': 103.856626209616},
 {'Name': 'CityLink Mall',
  'latitude': 1.29260349413333,
  'longitude': 103.854316064564},
 {'Name': 'Duo', 'latitude': 1.29953434891664, 'longitude': 103.85840168774},
 {'Name': 'Far East Plaza',
  'latitude': 1.30738819608479,
  'longitude': 103.833803262332},
 {'Name': 'Funan',
  'latitude': 1.29134759697794,
  'longitude': 103.849989790085},
 {'Name': 'Great World City',
  'latitude': 1.2934759620704,
  'longitude': 103.831975865363},
 {'Name': 'HDB Hub',
  'latitude': 1.33201387005935,
  'longitude': 103.84984949662},
 {'Name': 'ION Orchard',
  'latitude': 1.30473094842364,
  'longitude': 103.831465536872},
 {'Name': 'Junction 8',
  'latitude': 1.35012457632394,
  'longitude': 103.848487134435},
 {'Name': 'Knightsbridge',
  'latitude': 1.3029831225958,
  'longitude': 103.836283923443},
 {'Name': 'Liat Towers',
  'latitude': 1.30508722710852,
  'longitude': 103.830722581168},
 {'Name': 'Lucky Plaza',
  'latitude': 1.3044637897474,
  'longitude': 103.834005158524},
 {'Name': 'Marina Bay Sands',
  'latitude': 1.28258336683978,
  'longitude': 103.860220223356},
 {'Name': 'The Shoppes at Marina Bay Sands',
  'latitude': 1.28423496027027,
  'longitude': 103.85898228297},
 {'Name': 'Marina Bay Link Mall',
  'latitude': 1.28019533269189,
  'longitude': 103.854207695749},
 {'Name': 'Marina Square',
  'latitude': 1.29098635666276,
  'longitude': 103.857489825456},
 {'Name': 'Millenia Walk',
  'latitude': 1.29267926922552,
  'longitude': 103.860302888543},
 {'Name': 'Ngee Ann City',
  'latitude': 1.3022727300848,
  'longitude': 103.834899517575},
 {'Name': 'Orchard Central',
  'latitude': 1.30083890839245,
  'longitude': 103.839434733899},
 {'Name': 'Orchard Gateway',
  'latitude': 1.30160116957544,
  'longitude': 103.838868886519},
 {'Name': 'Orchard Plaza',
  'latitude': 1.30126533062133,
  'longitude': 103.841151770455},
 {'Name': 'Midpoint Orchard',
  'latitude': 1.30178778502846,
  'longitude': 103.838659766022},
 {'Name': 'Palais Renaissance',
  'latitude': 1.30665484543191,
  'longitude': 103.829588045188},
 {'Name': "People's Park Centre",
  'latitude': 1.28580583517057,
  'longitude': 103.844032214205},
 {'Name': "People's Park Complex",
  'latitude': 1.28404487854559,
  'longitude': 103.842590753293},
 {'Name': 'Plaza Singapura',
  'latitude': 1.30083413030923,
  'longitude': 103.845072743164},
 {'Name': 'Raffles City',
  'latitude': 1.29408304748297,
  'longitude': 103.853339531257},
 {'Name': 'Scotts Square',
  'latitude': 1.30580609670053,
  'longitude': 103.833059609864},
 {'Name': 'Sim Lim Square',
  'latitude': 1.30302298414827,
  'longitude': 103.853038663425},
 {'Name': 'Singapore Shopping Centre',
  'latitude': 1.28649701803051,
  'longitude': 103.844628721032},
 {'Name': 'The South Beach',
  'latitude': 1.29498804392056,
  'longitude': 103.856276242094},
 {'Name': 'Square 2',
  'latitude': 1.27822949964567,
  'longitude': 103.850812513482},
 {'Name': 'Sunshine Plaza',
  'latitude': 1.30046735366415,
  'longitude': 103.850556061949},
 {'Name': 'Suntec City',
  'latitude': 1.29350132535558,
  'longitude': 103.857307495824},
 {'Name': 'Tanglin Mall',
  'latitude': 1.30485342102105,
  'longitude': 103.823883490852},
 {'Name': 'Tanjong Pagar Centre',
  'latitude': 1.2755961982077,
  'longitude': 103.842393171342},
 {'Name': 'Tekka Centre',
  'latitude': 1.30671098278725,
  'longitude': 103.85013440636},
 {'Name': 'The Adelphi',
  'latitude': 1.29118503658447,
  'longitude': 103.851184338699},
 {'Name': 'The Paragon',
  'latitude': 1.30375855987932,
  'longitude': 103.835240308481},
 {'Name': 'Tiong Bahru Plaza',
  'latitude': 1.28645889472825,
  'longitude': 103.827015256194},
 {'Name': 'The Poiz',
  'latitude': 1.33202729656296,
  'longitude': 103.868659488195},
 {'Name': 'Thomson Plaza',
  'latitude': 1.35436282723449,
  'longitude': 103.83030941613},
 {'Name': 'United Square',
  'latitude': 1.31719450988559,
  'longitude': 103.843611443038},
 {'Name': 'Thomson V',
  'latitude': 1.35319495337208,
  'longitude': 103.835564729862},
 {'Name': 'Velocity@Novena Square',
  'latitude': 1.31978949204523,
  'longitude': 103.844033569199},
 {'Name': 'Wheelock Place',
  'latitude': 1.30467628730252,
  'longitude': 103.830642027577},
 {'Name': 'Wisma Atria',
  'latitude': 1.30368769989282,
  'longitude': 103.833203583562},
 {'Name': 'Zhongshan Mall',
  'latitude': 1.32694504484324,
  'longitude': 103.846554377679},
 {'Name': 'Bedok Mall',
  'latitude': 1.32611970329469,
  'longitude': 103.929554495615},
 {'Name': 'Century Square',
  'latitude': 1.35236829566862,
  'longitude': 103.943812302253},
 {'Name': 'Our Tampines Hub',
  'latitude': 1.35349593581988,
  'longitude': 103.940139392679},
 {'Name': 'Changi City Point',
  'latitude': 1.33403637902708,
  'longitude': 103.962917615531},
 {'Name': 'Downtown East',
  'latitude': 1.37634338328669,
  'longitude': 103.955649279974},
 {'Name': 'Djitsun Mall Bedok',
  'latitude': 1.32611970329469,
  'longitude': 103.929554495615},
 {'Name': 'Eastpoint Mall',
  'latitude': 1.34269199750599,
  'longitude': 103.953050756306},
 {'Name': 'Jewel Changi Airport',
  'latitude': 1.36006289399606,
  'longitude': 103.989989170512},
 {'Name': 'Katong Shopping Centre',
  'latitude': 1.3040973115095,
  'longitude': 103.901515916971},
 {'Name': 'Katong Square',
  'latitude': 1.30477683917233,
  'longitude': 103.904617722414},
 {'Name': 'Kallang Wave Mall',
  'latitude': 1.30307515150401,
  'longitude': 103.873149707591},
 {'Name': 'Leisure Park Kallang',
  'latitude': 1.30230108405227,
  'longitude': 103.876473975883},
 {'Name': 'i12 Katong',
  'latitude': 1.30522306203042,
  'longitude': 103.905043928938},
 {'Name': 'Parkway Parade',
  'latitude': 1.30091736056425,
  'longitude': 103.90533928065},
 {'Name': 'Paya Lebar Square',
  'latitude': 1.31881486980278,
  'longitude': 103.892580778242},
 {'Name': 'Roxy Square',
  'latitude': 1.30432599904899,
  'longitude': 103.904051120306},
 {'Name': 'Singpost Centre',
  'latitude': 1.31899666903663,
  'longitude': 103.894894915962},
 {'Name': 'Tampines 1',
  'latitude': 1.34633535808984,
  'longitude': 103.933979581362},
 {'Name': 'Tampines Mall',
  'latitude': 1.35252737278519,
  'longitude': 103.944698751072},
 {'Name': 'White Sands',
  'latitude': 1.37244981718271,
  'longitude': 103.949715695281},
 {'Name': 'City Plaza',
  'latitude': 1.31495729651441,
  'longitude': 103.893400329225},
 {'Name': 'Elias Mall',
  'latitude': 1.37790533095468,
  'longitude': 103.94233582068},
 {'Name': 'Loyang Point',
  'latitude': 1.36645364037722,
  'longitude': 103.964598499523},
 {'Name': '888 Plaza',
  'latitude': 1.43711856085535,
  'longitude': 103.795316064775},
 {'Name': 'Admiralty Place',
  'latitude': 1.43938615380542,
  'longitude': 103.801706470491},
 {'Name': 'AMK Hub',
  'latitude': 1.36938922690344,
  'longitude': 103.84847796594},
 {'Name': 'Canberra Plaza',
  'latitude': 1.44349544527985,
  'longitude': 103.830345369213},
 {'Name': 'Causeway Point',
  'latitude': 1.43600784474269,
  'longitude': 103.78568873405},
 {'Name': 'Woodlands Civic Centre',
  'latitude': 1.43501829566013,
  'longitude': 103.786930895956},
 {'Name': 'Broadway Plaza',
  'latitude': 1.37193729131781,
  'longitude': 103.845949444498},
 {'Name': 'Djitsun Mall',
  'latitude': 1.32611970329469,
  'longitude': 103.929554495615},
 {'Name': 'Jubilee Square',
  'latitude': 1.37178558575829,
  'longitude': 103.847837565378},
 {'Name': 'Junction 8',
  'latitude': 1.35012457632394,
  'longitude': 103.848487134435},
 {'Name': 'Junction Nine',
  'latitude': 1.4331228398318,
  'longitude': 103.84166098599},
 {'Name': 'Marsiling Mall',
  'latitude': 1.43354318137534,
  'longitude': 103.77988189197},
 {'Name': 'Northpoint City',
  'latitude': 1.42822560922688,
  'longitude': 103.836419992398},
 {'Name': 'Sembawang Shopping Centre',
  'latitude': 1.44182470675733,
  'longitude': 103.824845207237},
 {'Name': 'Sun Plaza',
  'latitude': 1.44819535371132,
  'longitude': 103.819502127155},
 {'Name': 'Vista Point',
  'latitude': 1.4308011390122,
  'longitude': 103.794104795966},
 {'Name': 'Wisteria Mall',
  'latitude': 1.41798969122298,
  'longitude': 103.841317292608},
 {'Name': 'Woodlands Mart',
  'latitude': 1.44564787003157,
  'longitude': 103.798162285805},
 {'Name': 'Woodlands North Plaza',
  'latitude': 1.44285222154947,
  'longitude': 103.790913269769},
 {'Name': 'Waterway Point',
  'latitude': 1.40648462132006,
  'longitude': 103.902105680785},
 {'Name': 'Compass One',
  'latitude': 1.3920543053799,
  'longitude': 103.895063884132},
 {'Name': 'Hougang Mall',
  'latitude': 1.37248308734511,
  'longitude': 103.893788141349},
 {'Name': 'Heartland Mall',
  'latitude': 1.35954450890401,
  'longitude': 103.885169070198},
 {'Name': 'NEX', 'latitude': 1.35076935257845, 'longitude': 103.872296143862},
 {'Name': 'Buangkok Square',
  'latitude': 1.38433426615655,
  'longitude': 103.881623070164},
 {'Name': 'Greenwich V',
  'latitude': 1.38739539397015,
  'longitude': 103.869135978173},
 {'Name': 'Hougang 1',
  'latitude': 1.35664284566921,
  'longitude': 103.889828868222},
 {'Name': 'Hougang Green Shopping Mall',
  'latitude': 1.3792452907016,
  'longitude': 103.887832017102},
 {'Name': 'Hougang Rivercourt',
  'latitude': 1.36220591877146,
  'longitude': 103.894742116488},
 {'Name': 'myVillage At Serangoon Garden',
  'latitude': 1.36511490572797,
  'longitude': 103.865159501442},
 {'Name': 'Northshore Plaza',
  'latitude': 1.41676127156324,
  'longitude': 103.902074379502},
 {'Name': 'Oasis Terraces',
  'latitude': 1.40282352005409,
  'longitude': 103.91346139614},
 {'Name': 'Punggol Plaza',
  'latitude': 1.39423719717117,
  'longitude': 103.913047323223},
 {'Name': 'Rivervale Mall',
  'latitude': 1.39221732695142,
  'longitude': 103.904473070943},
 {'Name': 'Rivervale Plaza',
  'latitude': 1.38548325969894,
  'longitude': 103.901870455683},
 {'Name': 'The Seletar Mall',
  'latitude': 1.39147015374628,
  'longitude': 103.876125507257},
 {'Name': 'Upper Serangoon Shopping Centre',
  'latitude': 1.35348082277147,
  'longitude': 103.878828134896},
 {'Name': 'Beauty World Centre',
  'latitude': 1.34241264188642,
  'longitude': 103.776539385406},
 {'Name': 'Beauty World Plaza',
  'latitude': 1.34180018619223,
  'longitude': 103.776259359854},
 {'Name': 'Bukit Panjang Plaza',
  'latitude': 1.37989494369864,
  'longitude': 103.764459887796},
 {'Name': 'Bukit Timah Plaza',
  'latitude': 1.3386316527745,
  'longitude': 103.778585430975},
 {'Name': 'Fajar Shopping Centre',
  'latitude': 1.38364777037534,
  'longitude': 103.770886644788},
 {'Name': 'Greenridge Shopping Centre',
  'latitude': 1.38540569310644,
  'longitude': 103.766228468185},
 {'Name': 'Hillion Mall',
  'latitude': 1.37841165144214,
  'longitude': 103.76382945872},
 {'Name': 'HillV2',
  'latitude': 1.36267450828024,
  'longitude': 103.76417292006},
 {'Name': 'Junction 10',
  'latitude': 1.38055127973087,
  'longitude': 103.760106974822},
 {'Name': 'Keat Hong Shopping Centre',
  'latitude': 1.37736607441394,
  'longitude': 103.744393648768},
 {'Name': 'Limbang Shopping Centre',
  'latitude': 1.3920738867617,
  'longitude': 103.743099573442},
 {'Name': 'Lot One',
  'latitude': 1.38506992325619,
  'longitude': 103.745238868238},
 {'Name': 'Rail Mall',
  'latitude': 1.35773050150178,
  'longitude': 103.768137724847},
 {'Name': 'Sunshine Place',
  'latitude': 1.37789727709418,
  'longitude': 103.739015486021},
 {'Name': 'Teck Whye Shopping Centre',
  'latitude': 1.38004752975397,
  'longitude': 103.752483841199},
 {'Name': 'West Mall',
  'latitude': 1.35037541626109,
  'longitude': 103.74912389291},
 {'Name': 'Yew Tee Point',
  'latitude': 1.39705741516141,
  'longitude': 103.746662121143},
 {'Name': 'Yew Tee Square',
  'latitude': 1.39804736098268,
  'longitude': 103.74708477866},
 {'Name': '321 Clementi',
  'latitude': 1.31200212030821,
  'longitude': 103.764986676365},
 {'Name': 'The Clementi Mall',
  'latitude': 1.31489619639366,
  'longitude': 103.764423054189},
 {'Name': 'IMM', 'latitude': 1.33487526118006, 'longitude': 103.746894773008},
 {'Name': 'JCube',
  'latitude': 1.33332312550425,
  'longitude': 103.740187071348},
 {'Name': 'Jem', 'latitude': 1.33329334473462, 'longitude': 103.743278742341},
 {'Name': 'Westgate',
  'latitude': 1.33415767556867,
  'longitude': 103.742766484424},
 {'Name': 'Jurong Point',
  'latitude': 1.33945200436319,
  'longitude': 103.706685012654},
 {'Name': 'Pioneer Mall',
  'latitude': 1.34169239214292,
  'longitude': 103.697174842118},
 {'Name': 'The Star Vista',
  'latitude': 1.30681500712523,
  'longitude': 103.788462732266},
 {'Name': 'Alexandra Central',
  'latitude': 1.28728320930592,
  'longitude': 103.805283367958},
 {'Name': 'Anchorpoint',
  'latitude': 1.28893477974497,
  'longitude': 103.805607779399},
 {'Name': 'Boon Lay Shopping Centre',
  'latitude': 1.34633552457315,
  'longitude': 103.712430373455},
 {'Name': 'Grantral Mall',
  'latitude': 1.31427043922294,
  'longitude': 103.765147487482},
 {'Name': 'Fairprice Hub',
  'latitude': 1.32561767765205,
  'longitude': 103.678409741897},
 {'Name': 'Gek Poh Shopping Centre',
  'latitude': 1.34874357136408,
  'longitude': 103.697732091001},
 {'Name': 'Rochester Mall',
  'latitude': 1.30540765569962,
  'longitude': 103.788446680148},
 {'Name': 'Taman Jurong Shopping Centre',
  'latitude': 1.33484487471259,
  'longitude': 103.720462024278},
 {'Name': 'West Coast Plaza',
  'latitude': 1.30369748971099,
  'longitude': 103.766131294678},
 {'Name': 'Queensway Shopping Centre',
  'latitude': 1.2876179255874,
  'longitude': 103.803391140455}]

In [95]:
for hdb in hdb_coordinates_dict:
    shortest_distance = get_shortest_distance(hdb, mall_coordinates_dict)
    hdb['mall_shortest_dist'] = shortest_distance[0]
    hdb['mall_shortest_dist_name'] = shortest_distance[1]

In [96]:
hdb_coordinates_df = pd.DataFrame(hdb_coordinates_dict)
hdb_coordinates_df

,address,latitude,longitude,mrt_shortest_dist,mall_shortest_dist,mrt_shortest_dist_name,mall_shortest_dist_name
0,406 ANG MO KIO AVE 10,1.362005,103.853880,0.957270,1.013992,Ang Mo Kio,AMK Hub
1,108 ANG MO KIO AVE 4,1.370943,103.837975,1.288554,0.894266,Ang Mo Kio,Broadway Plaza
2,602 ANG MO KIO AVE 5,1.380709,103.835368,1.056960,1.525573,Yio Chu Kang,Broadway Plaza
3,465 ANG MO KIO AVE 10,1.366201,103.857201,0.932964,0.893796,Ang Mo Kio,myVillage At Serangoon Garden
4,601 ANG MO KIO AVE 5,1.381041,103.835132,1.079288,1.569306,Yio Chu Kang,Broadway Plaza
...,...,...,...,...,...,...,...
9423,676A YISHUN RING RD,1.421452,103.843328,0.541079,0.443476,Yishun,Wisteria Mall
9424,187B BEDOK NTH ST 4,1.330499,103.939996,0.843049,1.258851,Tanah Merah,Bedok Mall
9425,450B BT BATOK WEST AVE 6,1.352358,103.744396,1.093790,0.569993,Bukit Gombak,West Mall
9426,451B BT BATOK WEST AVE 6,1.352484,103.743415,1.171116,0.676788,Bukit Gombak,West Mall
9427,442B BT BATOK WEST AVE 8,1.357134,103.738172,1.539339,1.429650,Bukit Gombak,West Mall

In [97]:
# Save progress first
hdb_coordinates_df.to_csv('hdb_added_features.csv')